html, body{
	height: 100%;
	width: 100%;
}

/*div containing the entire landing view*/
#landing-container{
	/*background-image: url('http://uxrepo.com/static/icon-sets/font-awesome/svg/code.jpg');
	background-size: cover;*/
	height: 90%;
	width: 80%;
	border: 1px solid black;
	padding-top: 2em;
	margin: 10px auto;
}


/*========================================================================*/


.search-box{

	height:5%;
	width: 100%;
	text-align: center;
/*	border: 1px solid black;
*/	margin: 3em auto;

}

/*input field class*/
.category-search{
	/*height: 90%;*/
	/*width: 99%;*/
}

/*input field styling / removing blue highslight when field is clicked*/
input.category-search:focus {
    outline-width: 0;
}
/*input field styling placeholder text*/
input.placeholder {
    text-align: center;
}



/*========================================================================*/
/*

body{
	background-image: url('http://i.imgur.com/tBhdAfL.png');
	background-size: cover;
	animation-name: img;
	animation-duration: 3s;
}


@keyframes img {
    0%   {opacity: 0}
    50%  {opacity: .75}
    100% {opacity: 1}
}
*/


.list-container{
	background-color: white;
	opacity: 1;
	height: 50%;
	width: 20%;
	margin: 0 auto;
	padding-top: 3em;
	padding-bottom: 4em;
	/*border-left: solid 1px black;*/
	/*border-right: 1px solid black;*/
	animation-name: turnups;
	animation-duration: 1.5s;
}


@keyframes turnups {
    0%   {height:0%; opacity: 0}
    50%   {opacity: .5}
    100%     {height:50%; opacity: 1}
}


/*========================================================================*/

.list-item{
	height: 8%;
	width: 80%;
	margin: 0 auto;
/*	border-bottom: 1px solid black;*/
	text-align: center;
	padding-bottom: .5em;
	padding-top: .5em;
	display: block;
	position: relative;
	animation-name: textanim;
	animation-duration: 1.5s;
	transition: background-color .15s linear 0s, color .15s linear 0s; 
}


/*@keyframes textanim {
    from   {position: absolute;}
    to     {position: relative;}
   
}*/





a.category-links{
	text-decoration: none;
	color: black;
	font-size: 150%;
	font-family: 'Raleway';
	/*transition: background-color .3s linear 0s, color .3s linear 0s;*/ 
}





.list-item:hover{

	background-color: black;
}

.list-item:hover a{
	color: white;
}


/*========================================================================*/



.list-text{
	margin-top: 20px;
	opacity: 1;
/*	animation-name: turnuptime;
    animation-duration: 5s;
*/}

/*@keyframes turnuptime {
    0%   {opacity:0;}
    25%  {opacity:.005;}
    60%  {opacity:1;}
    75%  {opacity:2;}
    100% {opacity:3;}
}
*/















