*{
	margin: 0;
	padding: 0;
}


#login-form-toggle{

	height: 5em;
	width: 10%;
	border: 2px solid black;
	border-radius: 50%;

}





#login-container{
	background-color: white;
	height: 4em;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid black;
	padding: .5em;
	animation-name: login;
	animation-duration: 3s;
	opacity: 1;
}


@keyframes login {
    0%   {width:0%; opacity: 0;}
    50%  {opacity:.33;}
    75%  {opacity: .66;}
    100% {width:100%; opacity: 1;}
}




section{
	padding:10px;
}

login-directive {
	/*text-align: center;*/
}

login-directive form {
	/*margin-bottom: .4em;*/
}


input {
	border: solid 1px black;
	height: 3em;
	background: transparent;
	min-width: 14%;
	animation-name: input;
	animation-duration: 3s;
}


@keyframes input {
    0%   {width:0%; opacity: 0; height: 0em;}
    50%  {opacity: .75}
    100% {width:14%; opacity: 1; height: 3em;}
}




/*input field styling / removing blue highslight when field is clicked*/
input.login-field:focus {
    outline-width: 0;
}



button {
	border: solid 1px black;
	background: transparent;
	height: 2em;
	min-width: 8%;
	margin-top: .3em;
	margin-bottom: .3em;
	margin-left: 1em;
	animation-name: button;
	animation-duration: 4s;
	font-size: 50%;

}


@keyframes button {
    from   {width:0%; opacity: 0; height: 0em; font-size: 0%;}
    to {width:8%; opacity: 1; height: 2em; font-size: 50%;}
}



button:hover{
	background-color: black;
	color: white;
}




