*{
	margin: 0;
	padding: 0;
}

section{
	padding:10px;
}

signup-directive, login-directive{
	display: inline-block;
}

login-directive {
	text-align: center;
}

login-directive form {
	/*margin-bottom: .4em;*/
}

#editConceptButton, #deleteConceptForm{
	display:inline;
}


input {
	border: solid 1px black;
	height: 3em;
	background: transparent;
	min-width: 15%;
}

button {
	border: solid 1px black;
	background: transparent;
	height: 3em;
	min-width: 15%;
	margin-top: .3em;
	margin-bottom: .3em;
}
