section#menuToggle{
	text-align:center;
	position: relative
}

section#menuToggle h3{
	text-transform: uppercase;
	display:inline;
}

section#menuToggle img{
	width:30px;
	float:left;
}

section#menuToggle ul{
	list-style: none;
	text-transform: uppercase;
}

#toggleCategoryContainer {
	width: 100%;
}

#dropdownMenu{
	width:100%;
	position: absolute;
	z-index: 999;
	background-color: white;
}

login-directive {
	position: fixed;
	top: 0;
	right: 0;
}