<p ng-if="addConceptCtrl.user.loggedIn == false">Sign up or log in to add a new concept and create your own flow chart</p>

<div ng-if="addConceptCtrl.user.loggedIn !== false" id="addConceptContainer">

<div>
	<h3 id="makeFlow" ng-if="addConceptCtrl.user.loggedIn == true" ng-click="addConceptCtrl.showDraw()">Make Your Own Flow Chart</h3>
	<button id="makeFlowButton" ng-if="addConceptCtrl.user.loggedIn == true" ng-click="addConceptCtrl.showDraw()"><img class="add" src="img/plus.svg"></button>
</div>

	<draw-directive ng-if="addConceptCtrl.drawDivShow == true && addConceptCtrl.user.loggedIn == true"></draw-directive>
	
<div id="addFeatureButton">
	<h3>Add Concept</h3>
	<button id="addConceptButton" ng-click="addConceptCtrl.addConcept(addConceptCtrl.newConcept)">Create</button>
</div>

	
	<form id="addConceptForm">
		<input type="text" ng-model="addConceptCtrl.newConcept.title" placeholder="Concept Title">
		<input type="number" ng-model="addConceptCtrl.newConcept.stars" placeholder="Stars">
		<input id="addConceptImage" type="file" name="image"  />
	</form>
</div>