<br clear="all">

<hr>
<section class="concept">
	<h1>{{conceptCtrl.name}}</h1>

	<div id="addConcept">
		<add-concept></add-concept>
	</div>

	<div ng-if="conceptCtrl.user.isAdmin === 'false' || conceptCtrl.user.loggedIn === false" class="conceptItem">
		<div ng-repeat="concept in conceptCtrl.concept">
			<div ng-repeat="title in concept.concept | filter:title.approved=true | orderBy:'-stars'">
				<h2>{{title.title}}</h2>
				<p>Stars: {{title.stars}}</p><br>
				<img class="conceptImg" ng-if="title.img != ''" ng-src="{{title.img}}" alt="Concept Image">
			</div>
		</div>
	</div>

	<div ng-if="conceptCtrl.user.isAdmin === 'true'" class="conceptItem">
		<div ng-repeat="concept in conceptCtrl.concept">
			<div ng-repeat="title in concept.concept" class="singleConcept">
				<h2>{{title.title}}</h2>
				<p>Stars: {{title.stars}}</p><br>
				<button id="editConceptButton" ng-click="conceptCtrl.revealConcepts($index)">Edit</button>

				<button id="deleteConceptButton" ng-click="conceptCtrl.deleteConcept($index, title)">Delete</button>
				<br>
				<div id="edit" ng-show="conceptCtrl.editConcept === $index">
					<form id="conceptForm{{$index}}" ng-submit="conceptCtrl.saveData(title, $index)" class="conceptForm">
						<div class="titleStarsInputs">
							<input id="titleInput" type="text" name="title" ng-model="title.title" value="{{title.title}}" /><br>
							<input id="starsInput" type="number" name="stars" ng-model="title.stars" value="{{title.stars}}" />
						</div>
						<div class="imageApproveUpdate">
							<input id="formFile{{$index}}" type="file" name="image"  />
							<input id="approveCheckbox" type="checkbox" ng-model="title.approved">
							<button id="updateConceptButton" ng-click="conceptCtrl.revealConcepts($index)">Update</button>
						</div>
					</form>
				</div> <!-- #edit -->

				<img class="conceptImg"ng-if="title.img != '' && title.img != null" ng-src="{{title.img}}" alt="Concept Image">

			</div>
		</div>
	</div>
</section>