	<div id="header">
		<login-directive></login-directive>
	</div>
	<div class="search-box">
		<input class="category-search" type="text" placeholder="SEARCH CATEGORY" ng-model="search" />
	</div>
	<form class="add-category" ng-submit="categoryCtrl.addCategory()">
		<input type="text" name="title" ng-model="categoryCtrl.newCategory.title" placeholder="Category Title">
		<button>Add Category</button>
	</form>
	<div class="list-container">
		<div class="list-item" ng-repeat="category in categoryCtrl.categoryNames | filter: search">
				<a class="category-links" href="/categories/{{category.title}}"><span class="list-text">{{category.title}}</span></a>
		</div>

	</div>