<section id="menuToggle">
	<div id="toggleCategoryContainer" >
		<img ng-click="categoryCtrl.revealCategories()" src="img/menuToggle.svg" >
		<h3 ng-click="categoryCtrl.revealCategories()">Categories</h3>
		<login-directive></login-directive>

	</div>


	<div id="dropdownMenu" ng-show="categoryCtrl.show">
		<ul >
			<li ng-repeat="categoryName in categoryCtrl.categoryNames | filter: search"><a href="/categories/{{categoryName.title}}">{{categoryName.title}}</a></li>
		</ul>
		<input class="category-search" type="text" ng-model="search" placeholder="Search" />
	</div>
</section>