<nav id="menuToggle">
	<div id="toggleMenuContainer" >
		<img class="menuimg" ng-click="categoryCtrl.revealCategories()" src="img/menuToggle.svg" >
		<h2><a href="/">Flowly</a></h2>
	</div>

	<h1 ng-if="loginCtrl.user.username != null && loginCtrl.user.loggedIn == true">Welcome <span>{{loginCtrl.user.username}}</span></h1>

	<a id="allUsers" ng-if="loginCtrl.user.isAdmin === 'true'" href="/users">All Users</a>
	

	<div id="dropdownMenu" ng-show="categoryCtrl.show">
			<signup-directive></signup-directive>
			<login-directive></login-directive>
			<logout-directive></logout-directive>
		<br clear="all">

		<div id="dropdownMenuContainer">
			<div class="search-box">
				<input class="category-search" type="text" ng-model="search" placeholder="Search" />
			</div>
			<div id="menuCategoryContainer">
				<div class="list-item" ng-repeat="categoryName in categoryCtrl.categoryNames | filter: search">
					<a class="menucategories" href="/categories/{{categoryName.title}}">{{categoryName.title}}</a>
				</div>
			</div>
		</div>
	</div>

</nav>